.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #d30880;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.language-switcher {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: end;
}

.language-switcher button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}
